<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">Hammad Store</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/products">All Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/orders">Orders</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/add-product">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user-uploads">Your Uploaded Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-danger" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>