<!DOCTYPE html>
<html>
    <head>
        <title>CodeAlpha E-Commerce Store</title>
    </head>
    <body>
        <h1>Welcome to our Ecommerce Store</h1>
        <p>Project started successfully</p>
    </body>
</html>